
p{
    text-align: justify;
}

#site{
    /*definier a largura da página*/
    width: 960px;
    /*para definir a margem*/
    margin: auto;
    /*cor de fundo (opcional)*/
    /*background-color: #e3e3e3;*/
    padding: 10px 20px;
    font-family: helvetica;
    
}

}
header nav ul{
    list-style: none;
    padding-left: 0;
    }

header{
    text-align: center;
}
header nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 16px;  
}
header nav ul li a{
    color: black;
    text-decoration: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}
#conteudo-left{
    float: left;
    width: 400px;
    height: 200px;
}
#conteudo-right{
    float: right;
    width: 400px;
    height: 200px;
}
footer{
    clear: both;
}
label, input[type=submit], textarea{
    display: block;
}
textarea{
    width: 300px;
    height: 80px;
    
}

#tp, #t2p{
    font-weight: normal;   
}
#t2p{
    font-size: 18px;
}